---
---

/* Hoja de estilos general
Mantener los guiones de arriba para que jekill pueda procesar este archivo */

/***************
 variables
 ****************/

$headerHeight: 15vh;
$headerColor: #006384;
$inputBackgroundColor: #36849e;
$manada: #EFC15B;
$unidad: green;
$caminantes: blue;
$rovers: red;

* {font-family: 'Open Sans', sans-serif;}
/***************
 inclusiones generales 
 ****************/
@import 'other/elements.scss';
@import'other/mixins.scss';
@import 'includes/header.scss';
@import 'includes/footer.scss';
@import 'layouts/home.scss';

/***********
estilos compartidos
************/