footer {
    background-color: $headerColor;
    padding-top: 20px;
      padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 80px;


    a, a:hover, p, h1, i {
        color: white;
        text-decoration: none;
    }
}

/* Esto separa los 3 elementos verticalmente cuando estas en un celular*/
.footer__contacto, .footer__map, .footer__email {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Dale al map mas altura en dispositivos pequeños*/
@media screen and (max-width: 1023px ) {
    .footer__map, .footer__email {
        height: 70vh;
    }
}

.footer__contacto {
    font-style: normal;
    padding-right: 20px;

    .footer__contacto__nombreymail {
        border-top: 2px solid white;
        margin-bottom: 20px;

        h1 {
            font-size: 1.5rem;
            padding-left: 0px;
            margin-bottom: 10px;
        }

        .footer__contacto__nombreymail__mail {
            padding-left: 0px;
        }
    }

    .footer__contacto__direccionyhorarios {
        padding-top: 8px;

        .footer__contacto__direccionyhorarios__direccion {
            padding-left: 14px;

            p {
                margin-top: 0px;
                margin-bottom: 0px;

                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }

        .footer__contacto__direccionyhorarios__horarios {
            padding-left: 53px;
            padding-top: 40px;
        }
    }
}

.footer__map {
    width: 100%;

}



.footer__email {
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    input, textarea {
        margin-bottom: 10px;
    }

    input, textarea, textarea:focus, input:focus {
        width: 100%;
        background: $inputBackgroundColor;
        border: 1px solid white;
        min-height: 25px;
        color: white;
        padding-left: 10px;
    }

    input::placeholder, textarea::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: white;
    }

    textarea {
        height: 100%;
    }

    .button {
        margin-right: auto;
    }
}
