
$headerHeight: 15vh;

header {
    height: $headerHeight;
    background-color: #006384;
    
    #logo {
        height: $headerHeight;
        width: 20vh;
        margin-left: 20px;
        img{
            position: absolute;
            height: $headerHeight * 1.8;
            margin-top: $headerHeight * 0.1 ;
        }
    }
}