<!-- 
ese es el header, va a contener la cabecera 
de todas las paginas del sitio asi como la barra de navegacion 
-->



<header>
    <div id="logo">
        <img src="{{site.baseurl}}/assets/images/logo.png">
    </div>
    <nav>
        <div class="nav__left">
            <a href="{{site.baseurl}}/" class="{% if page.url == '/' %} currentPage {% endif %} ">Quienes somos</a>
            <div class="dropdown">
                <a>Ramas </a>
                <div class="dropdown-content">
                    <a href="{{site.baseurl}}/paginas/ramas/manada" >Manada</a>
                    <a>Unidad</a>
                    <a>Caminantes</a>
                    <a>Rovers</a>
                </div>
            </div>
            <a href="{{site.baseurl}}/paginas/ramas/manada" class="{% if page.url == '/paginas/ramas/manada' %} currentPage {% endif %} ">El scoutismo</a>
        </div>
        <div class="nav__right">
            <a href="{{site.baseurl}}/paginas/ramas/manada" class="{% if page.url == '/paginas/ramas/manada' %} currentPage {% endif %}  button">Descargas</a>
            <a href="https://www.facebook.com/etchepare.sno" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
    </nav>

</header>