/*
Seccion HERO, osea la imagen grande de arriba que ocupa toda la pantalla
*/

.elscoutismo-hero-section {
    @extend .hero-section;

    background: linear-gradient(rgba(0, 99, 132, 0.45), rgba(0, 99, 132, 0.45)), url("../assets/images/elscoutismohero.jpg");
    background-size: cover;
    background-position: center;
}

.elscoutismo__primera-seccion {
    padding-top: 30px;

    img {
        padding-bottom: 30px;
        width: 150px;
        height: 150px;
    }

    span {
        color: $headerColor;
        font-size: 2rem;
    }

    p {
        line-height: 1.4rem;
        padding: 5%;
        font-weight: 600;
        hyphens: auto;
    }
}

.el-metodo-scout {
    text-align: center;

    .el-metodo-scout__logo-y-titulo {
        img {
            width: 150px;
            height: 150px;
        }
    }
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        border: none;
        background: none;
        width: 10%;
    }

    button:focus {
        outline: 0 ;
    }

    .carousel__siema {
        width: 80%;

        .carousel__siema__slide {
            text-align: left;
            padding: 15px;
        }
    }
}
