.default-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh - $headerHeight;
    background: linear-gradient(rgba(0, 99, 132, 0.45), rgba(0, 99, 132, 0.45)), url("../assets/images/bg1.JPG");
    background-size: cover;
    background-position: center;
    font-size: 80px;
    color: white;

    .default-hero-section__titles {
        display: flex;
        flex-direction: column;
    }

    div span:first-child {
        font-style: italic;
        font-weight: 900;
    }

    div span:nth-child(2) {
        margin-left: 90px;
    }

    div a:nth-child(3) {
        font-size: 30px;
        align-self: center;
        font-weight: 900;
        padding: 10px 25px 10px 25px;
        margin-top: 40px;
    }
}

.primera-Seccion {
    padding-top: 30px;
    height: 100vh;

    h1 {
        margin-top: 0px;
    }

    .primera-Seccion__superior {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
        height: 40vh;

        .primera-Seccion__superior__ramas {

            flex-grow: 1;
            margin-right: 50px;
            display: flex;
            flex-direction: column;

            h1 {
                background: rgba(0, 99, 132, 0.45);
                padding: 5px;
                box-shadow: 0px 0px 2px 2px rgba(97,97,97,0.69);
            }

            .primera-Seccion__ramas__listaderamas {
                display: flex;
                flex-grow: 1;
                flex-direction: row;

                .primera-Seccion__ramas__listaderamas__botonderama {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-grow: 1;
                    border: 1px solid black;
                }
            }
        }

        .primera-Seccion__superior__noticias {
            flex-shrink: 0;
            width: 20%;
            background: rgba(0, 99, 132, 0.45);
            padding: 30px;
            padding-top: 10px;
            padding-right: 10px;
            ul {
                list-style-type: none;
                padding-left: 0px;
                .primera-Seccion__superior__noticias__noticia{
                    color: white;
                    display: flex;
                    flex-direction: column;
                }
                .primera-Seccion__superior__noticias__noticia span:first-child{
                    font-weight: 900;
                    font-size: 19px;
                    padding-bottom: 3px;
                }
                .primera-Seccion__superior__noticias__noticia span:last-child{
                    font-size: 13px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
