/*
Seccion HERO, osea la imagen grande de arriba que ocupa toda la pantalla
*/

.default-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh - $headerHeight;
    background: linear-gradient(rgba(0, 99, 132, 0.45), rgba(0, 99, 132, 0.45)), url("../assets/images/bg1.JPG");
    background-size: cover;
    background-position: center;
    color: white;

    .default-hero-section__titles {
        display: flex;
        flex-direction: column;
    }

    .default-hero-section__titles__large-titles {
        font-size: 5rem;

        @media screen and (max-width: 450px) {
            font-size: 11vw;
        }

        @media screen and (min-width: 450px) and (max-width: 1136px) {
            font-size: 8vw;
        }
    }

    /*first title in italics*/
    div .default-hero-section__titles__large-titles:first-child {
        font-style: italic;
        font-weight: 900;
    }

    /*margin for second title */
    div .default-hero-section__titles__large-titles:nth-child(2) {
        margin-left: 2ch;
    }

    /*styles for button "conocenos" */
    .default-hero-section__titles__large-titles__conocenos {
        font-size: 1.9rem;
        align-self: center;
        font-weight: 900;
        padding: 10px 25px 10px 25px;
        margin-top: 40px;

        @media screen and (max-width: 450px) {
            font-size: 6vw;
        }

        @media screen and (min-width: 450px) and (max-width: 600px) {
            font-size: 5vw;
        }

        @media screen and (orientation: portrait) {
            position: absolute;
            bottom: 20px;
        }

        /* 
        @media screen and (min-width: 450px) and (max-width: 1136px){
            font-size: 8vw;
        } */
    }
}

/*
Primera seccion con los botones de las ramas, las noticias y los links principales
*/

.primera-Seccion {
    padding-left: 20px;
    padding-right: 20px;

    h1 {
        margin-top: 0px;
    }

    .primera-Seccion__superior {
        .primera-Seccion__superior__ramas {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            h1 {
                background: rgba(0, 99, 132, 0.45);
                padding: 10px;
                padding-left: 30px;
                box-shadow: 0px 0px 2px 2px rgba(97, 97, 97, 0.69);
                color: #3C3C3B;
                margin-bottom: 0px;
            }

            .primera-Seccion__ramas__listaderamas {
                flex-grow: 1;

                .col-xs-6 {
                    margin-top: 20px;
                }

                .primera-Seccion__ramas__listaderamas__botonderama {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-grow: 1;
                    height: 100%;
                    border: 2px solid white;
                    color: white;
                    box-shadow: 1px -1px 5px 2px rgba(107, 107, 107, 1);
                }

                .primera-Seccion__ramas__listaderamas__botonderama--manada {
                    @include imageGradient("../assets/images/bg-repeat-2.png", $manada, 0.5);
                }

                .primera-Seccion__ramas__listaderamas__botonderama--unidad {
                    @include imageGradient("../assets/images/bg-repeat-2.png", $unidad, 0.5);
                }

                .primera-Seccion__ramas__listaderamas__botonderama--caminantes {
                    @include imageGradient("../assets/images/bg-repeat-2.png", $caminantes, 0.5);
                }

                .primera-Seccion__ramas__listaderamas__botonderama--rovers {
                    @include imageGradient("../assets/images/bg-repeat-2.png", $rovers, 0.5);
                }
            }
        }

        .primera-Seccion__superior__noticias {
            margin-top: 30px;
            flex-shrink: 0;
            flex-grow: 0.3;
            min-width: 195px;
            background: rgba(0, 99, 132, 0.45);
            padding: 30px;
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 15px;
            box-shadow: 0px 0px 0px 6px rgba(97, 97, 97, 0.23);

            h1 {
                color: #3C3C3B;
                border-bottom: rgba(126, 127, 126, 0.48) solid 2px;
            }

            ul {
                list-style-type: none;
                padding-left: 0px;

                .primera-Seccion__superior__noticias__noticia {
                    color: white;
                    display: flex;
                    flex-direction: column;
                    font-size: 2rem;
                }

                .primera-Seccion__superior__noticias__noticia span:first-child {
                    font-weight: 900;
                    padding-bottom: 3px;
                    font-size: 1.2rem;
                }

                .primera-Seccion__superior__noticias__noticia span:last-child {
                    font-size: 0.9rem;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .primera-Seccion__inferior {
        margin-top: 20px;
        @media screen and (min-width:900px){
            margin-top: 50px;
        }
        .primera-Seccion__inferior__porque-Unirse,
        .primera-Seccion__inferior__conoce-a-los-diris,
        .primera-Seccion__inferior__metodo-scout {
            border: 4px solid white;
            color: white;
            box-shadow: 0px 0px 5px 1px rgba(107, 106, 107, 1);
            min-height: 150px;
            height: 40vh;
            width: 100%;
            font-size: 1.3rem;
            min-height: 40vh;
            @media screen and (orientation: portrait) {
                height: 50vh;
            }
        }

        > div {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            max-width: 100%;

            h1 {
                border-top: 2px solid white;
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 10%;
                padding-top: 8%;
            }
        }

        .primera-Seccion__inferior__porque-Unirse {
            background: linear-gradient(rgba(0, 99, 132, 0.3), rgba(0, 99, 132, 0.3)), url("../assets/images/porqueunirse.jpg");
            background-size: cover;
            background-position: center;
        }

        .primera-Seccion__inferior__conoce-a-los-diris {
            background: linear-gradient(rgba(0, 99, 132, 0.3), rgba(0, 99, 132, 0.3)), url("../assets/images/conocealosdiris.jpg");
            background-size: cover;
            background-position: center;
        }

        .primera-Seccion__inferior__metodo-scout {
            background: linear-gradient(rgba(0, 99, 132, 0.3), rgba(0, 99, 132, 0.3)), url("../assets/images/metodoscout.jpg");
            background-size: cover;
            background-position: center;
        }
    }
}
