/*
Seccion HERO, osea la imagen grande de arriba que ocupa toda la pantalla
*/

.manada-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh - $headerHeight;
    background: linear-gradient(rgba(0, 99, 132, 0.45), rgba(0, 99, 132, 0.45)), url("../assets/images/manadahero.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 3px solid transparentize($headerColor, 0.5);

    .default-hero-section__titles {
        display: flex;
        flex-direction: column;
    }

    .default-hero-section__titles__large-titles {
        font-size: 3rem;

        @media screen and (max-width: 450px) {
            font-size: 11vw;
        }

        @media screen and (min-width: 450px) and (max-width: 1136px) {
            font-size: 8vw;
        }
    }
}

.manada-primera-seccion {
    background: url("../assets/images/bg-repeat-4.png");
    padding-bottom: 20px;

    h1 {
        text-align: center;
        color: $textoObscuro;
    }

    .manada-primera-seccion__parrafos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p{
            max-width: 60ch;
            hyphens: auto;
        }
        span{
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
    }
}

.manada-segunda-Seccion__galeria {
    @extend .galleria;
    padding-left: 3%;
    padding-right: 3%;
    background: url(../assets/images/bg-repeat-4.png);
}
