/* Facebook round icon*/
.face {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 10px;
    background: white;
    border: 2px solid white;
    color: $headerColor;
    font-size: 25px;

    i {
        color: $headerColor;
        padding-top: 3px;
    }
}

.face:hover,
i :hover {
    color: $headerColor;
    text-decoration: none;
}

/* transparent button */
.button, .button :hover , .button:visited , .button :active {
    border: 1px white solid;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    color:white;
}

/*
Contenedor general, aparece en todas las paginas y mantiene el contenido
de todo
*/
.main-container {
    width: 95%;
    margin: auto;
    background-color: white;
}

html {
    background-color: $headerColor;
}
