/* Facebook round icon*/
.face {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 10px;
    background: white;
    border: 2px solid white;
    color: $headerColor;
    font-size: 1.5rem;

    i {
        color: $headerColor;
        padding-top: 3px;
    }
}

.face:hover,
i :hover {
    color: $headerColor;
    text-decoration: none;
}

/* transparent button */
.button, .button :hover, .button:visited, .button :active {
    border: 1px white solid;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

/*
Contenedor general, aparece en todas las paginas y mantiene el contenido
de todo
*/
.main-container {
    width: 95%;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 87px 17px rgba(97, 97, 97, 0.69);
}

html {
    background: url("../assets/images/bg-repeat-5.png") repeat;
}

/* Galeria tipo masonery */

.galleria {
    -webkit-column-count: 4;
    column-gap: 3px;

    /* Chrome, Safari, Opera */
    -moz-column-count: 4;

    /* Firefox */
    column-count: 4;

    /* no gallery on mobile */
    @media (max-width: 500px) {
        display: none;
    }

    img {
        width: 100%;
        padding-bottom: 3px;
        display: block;
    }
}

/* Hero section que se usa en las paginas de las ramas */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh - $headerHeight;
    color: white;
    border-bottom: 3px solid transparentize($headerColor, 0.5);

    .default-hero-section__titles {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .default-hero-section__titles__large-titles {
        font-size: 3rem;

        @media screen and (max-width: 450px) {
            font-size: 11vw;
        }

        @media screen and (min-width: 450px) and (max-width: 1136px) {
            font-size: 8vw;
        }
    }
}


/* Seccion de textos que se usan en las paginas de las ramas */

.rama-primera-seccion {
    background: url("../assets/images/bg-repeat-4.png");
    padding-bottom: 20px;

    h1 {
        text-align: center;
        color: $textoObscuro;
    }

    .rama-primera-seccion__parrafos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        @media screen and (min-width: 650px) {
            font-size: 1.1rem;
        }

        .rama-primera-seccion__parrafos__parrafo {
            max-width: 50ch;
            min-width: 40ch;
            hyphens: auto;
            padding-left: 3%;
            padding-right: 3%;
        }

        span {
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
    }
}
