--- 
layout: layout-default 
---


<section class="elscoutismo-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">El Scoutismo</span>
    </div>
</section>
<div class="main-container">

    <div class="elscoutismo__primera-seccion row around-xs">
        <img src="{{site.baseurl}}/assets/images/arboles.svg" class="col-xs-12">
        <p class="col-md-6">
            El Scoutismo, o escultismo, es un método de educación no formal cuyo objetivo es potenciar las capacidades de cada niño para
            formar personas responsables y dignas de confianza que puedan cumplir un papel constructivo en la sociedad. Es
            el movimiento educativo mundial de niños, jóvenes y adultos más grande del mundo; está abierto a todas las personas,
            sin distinción de origen, raza, credo o situación social.
            </br>
            </br>
            El movimiento Scout surgió en 1907 en el Reino Unido, después de que su fundador, Baden Powell, publicara su libro Escultismo
            para muchachos. Hoy en día, el movimiento está presente en 255 países y territorios, con aproximadamente 40 millones
            de miembros en todo el mundo.
        </p>
        <p class="col-md-6">
            <span> La Misión </span> </br>
            </br>
            La Misión del Movimiento Scout es contribuir a la educación de los jóvenes, mediante un sistema de valores basado en la Promesa
            y la Ley Scout, para ayudar a construir un mundo mejor donde las personas se sientan realizadas como individuos
            y jueguen un papel constructivo en la sociedad.
            </br>
            </br>
            El Método Scout, la manera concreta en la que trabajamos con chicos y jóvenes, es un sistema de auto-educación progresiva
            y un estilo de vida. Está pensado para contribuir a que los chicos y jóvenes usen y desarrollen sus propias capacidades
            e intereses a su propio paso, y que, según las necesidades de cada etapa, puedan alcanzar su mayor potencialidad.
            Los chicos participan de las actividades con otros de su misma edad. A estos grupos los llamamos Ramas.
        </p>

    </div>

</div>