--- 
layout: layout-default 
---



<section class="quienes-somos-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">Quienes Somos</span>
    </div>
</section>

<div class="main-container quienes-somos">


    <section class="quienes-somos__actividades ">
        <div class="row around-xs">
            <h3 class="col-md-8 col-xs-11">
                Los Scouts Navales de Olivos, dentro del marco scout, contribuimos al desarrollo integral y la educación permanente de chicos
                y jóvenes desde 1941. A través de las actividades scout, chicos y jóvenes experimentan un estilo de vida
                diferente; aprenden a ser autónomos, activos y responsables en la medida de sus capacidades, a la vez que
                se desarrollan progresivamente. </h3>
        </div>
        <!-- Aca reutuluzo la segunda seccion de la home -->
        <div class="segunda-Seccion__titulo-y-logo">
            <img class="segunda-Seccion__titulo-y-logo__logo" src="{{site.baseurl}}/assets/images/faro.svg">
            <h1 class="segunda-Seccion__titulo-y-logo__titulo">Nuestras Actividades</h1>
        </div>
        <div class="segunda-Seccion__contenido segunda-Seccion__contenido--primera-instancia row center-xs">
            <div class="segunda-Seccion__contenido__contenedor  col-md-4 col-sm-6 col-xs-12 ">
                <img src="{{site.baseurl}}/assets/images/mochila.svg">

                <h2>Reuniones</h2>

                <p>Son semanales. Se realizan juegos, talleres y actividades acordes a la edad con el objetivo de inculcar los
                    valores scout.
                </p>
            </div>
            <div class="segunda-Seccion__contenido__contenedor col-md-4 col-sm-6 col-xs-12">
                <img src="{{site.baseurl}}/assets/images/ancla.svg">
                <h2>Salidas</h2>
                <p>Se trata de actividades especiales que se realizan fuera de la sede. Unporcentaje de estas actividades son
                    siempre elegidas por los chicos mismos. Otras salidas que nos caracterizan son las náuticas; que pueden
                    ir desde remar hasta salir a navegar.
                </p>
            </div>
            <div class="segunda-Seccion__contenido__contenedor col-md-4  col-sm-6 col-xs-12">
                <img src="{{site.baseurl}}/assets/images/carpa.svg">
                <h2>Campamentos</h2>
                <p>Pueden durar de dos a veinte dias, segun la edad de los chicos y los objetivos propuestos. Aqui los chicos
                    y jovenes entran en contacto con la naturaleza; es el lgar donde se desarrolla el carácter, se fomenta
                    el autogobierno y la confianza en si mismo. </p>
            </div>
        </div>
        <div class="segunda-Seccion__contenido row center-xs">
            <div class="segunda-Seccion__contenido__contenedor col-md-4 col-sm-6 col-xs-12 ">
                <img src="{{site.baseurl}}/assets/images/mochila.svg">

                <h2>Servicios a la comunidad</h2>

                <p>Los Scouts estamos comprometidos con la sociedad a la que pertenecemos, y en toda actividad se trabaja para
                    lograr un mundo mejor.  Todas las ramas realizan actividades de este tipo, siempre adaptados a la edad.
                    Las ramas mayores adquieren un papel más activo, y son ellos quienes proponen y organizan los servicios.
                </p>
            </div>
            <div class="segunda-Seccion__contenido__contenedor col-md-4 col-sm-6 col-xs-12">
                <img src="{{site.baseurl}}/assets/images/ancla.svg">
                <h2>Foros de encuentro y debate</h2>
                <p>Adaptados para las diferentes edades; se eligen temas de interés y los chicos debaten sus ideas y propones
                    acciones concretas para tratar las cuestiones analizadas. Estas propuestas son luego analizadas por Scouts
                    de Argentina, y se llevan adelante según lo que determine la asamblea nacional.
                </p>
            </div>
            <div class="segunda-Seccion__contenido__contenedor col-md-4  col-sm-6 col-xs-12">
                <img src="{{site.baseurl}}/assets/images/carpa.svg">
                <h2>Encuentros con otros scouts</h2>
                <p>Los jóvenes se juntan para la realización de diferentes actividades. Este contacto potencia el sentimiento
                    de hermandad entre los scouts de distintas procedencias y nacionalidades, y resulta una de las vivencias
                    más enriquecedoras para ellos. </p>
            </div>
        </div>
    </section>

    <section class="quienes-somos__nuestra-historia">
        <div class="quienes-somos__nuestra-historia__titulo-y-logo">
            <img src="{{site.baseurl}}/assets/images/botella.svg">
            <h3>Nuestra historia</h3>
        </div>
        <div class="quienes-somos__nuestra-historia__historia">
            <p>Nuestros orígenes se remontan a la época en que en la Argentina existían Agrupaciones Scout afiliadas a organizaciones
                Scout de otros países. Con el inicio de la Segunda Guerra Mundial, el gobierno argentino decide abolir a
                las entidades afiliadas a organismos en el extranjero y, nuestros fundadores, que provenían de la Second
                BA Scout Group afiliada a la Boy Scout Association of the United Kingdom, deciden fundar una nueva Compañía
                en la zona de Olivos, en inicio dependiente de la Second BA Scout Group, luego de INSA, la entidad que por
                entonces nucleaba la actividad Scout en la Argentina.
                <br> <br> De este origen es que aun hoy utilizamos términos muy únicos, como "mugo" (del inglés mug, por
                jarro), o Hut y algunos otros términos, ¡castellanizados de una manera muy Scout!
                <br><br> Así se documentó la primera reunión: <br><br>
                <span class="quienes-somos__nuestra-historia__historia--quote">
                6 de Septiembre de 1941 <br><br> “Este día fue testigo del nacimiento de una nueva Compañía
                Scout Naval. A las 6:00 pm Alan Munck, Charlie Kerr y Kenneth Schonberg se encontraron en la estación Borges
                de los Ferrocarriles Argentinos y fueron conducidos al Colegio Westimister por el Sr. Arturo Dobel, nuestro futuro
                maestro scout, y Ronnie Hurst, ambos en uniforme scout. Sigilosamente ingresamos a un garaje al fondo del colegio,
                cedido gentilmente para usarlo como lugar de reunión. Unos minutos más tarde Alfredo Rayerola se hizo presente
                y nuestro pequeño grupo estaba completo.”…. (Texto extraído del acta fundacional, original en inglés).
                </span>

                <br><br> Arturo Dobel (Bitácora), como Maestro Scout, es quien desde el inicio asume el rol de Jefe de Compañía
                (luego Agrupación). La modalidad naval se adopta al comienzo porque el tío de uno de los fundadores tenía
                un velero y todos eran ávidos aventureros con ganas de vivenciar el Scoutismo Naval.
                <br><br> Al principio sólo tenía una sección, la Tropa, y se llama inicialmente Almirante Brown, pero al
                poco tiempo se le cambia el nombre por el de Teniente de Navío Pedro Etchepare. Etchepare había sido miembro
                del Directorio Nacional de INSA y, como oficial de la Armada, había estimulado el crecimiento del Scoutismo
                Naval en nuestro país. Desde un inicio a esta Compañía se la conoció como los Scouts Navales de Olivos.
                <br><br> A mediados de la década del 40 se incorporan mujeres, siendo la primer Tropa de INSA del país en
                tener mujeres. Bajo la coordinación de Janet MacLean las niñas crecen en número y participan de eventos importantes,
                tales como olimpiadas de atletismo nacionales, encuentros zonales y por supuesto de campamentos y actividades
                náuticas.
                <br><br> A fines de los años 40 comienza a funcionar la Manada, siempre bajo la atenta mirada de Janet Maclean,
                quien se convierte en la mano derecha del Jefe de Agrupación. Bitácora cursa sus primeros Tacos de Madera
                en Gillwell Park (Inglaterra) y durante años es Comisionado Nacional de Adiestramiento (para Dirigentes).

                <br><br> La náutica ocupó desde el inicio un carácter central en las actividades Scout. Las primeras embarcaciones
                propias fueron el Kayak Impeesa y el velerito Delfín. Luego siguieron el velero Pampero, Kayaks, optimists
                canoas, barcos de amigos, etc. Actualmente navegamos en veleros donados y luego restaurados por nosotros
                mismos.
                <br><br> En los años 50 y 60 la Agrupación crece incorporando a las Postas y los Rovers. Un grupo de AGA
                (Asociación de Guías Argentinas) comparte la sede con nosotros y provee por años de las dirigentes para la
                Manada. El Scout Carlos Vallejos es el Primer Scout de la Patria de la Argentina, honor compartido con muy
                pocos otros Scouts, entre ellos otro Scout nuestro, Martín Aragón.
                <br><br> A fines de los años 70 las mujeres se integran definitivamente a la Agrupación y se forman la Ronda,
                Cabaña y Posta Femenina. Todas estas ramas ahora con dirigentes propios de la Agrupación.
                <br><br> En los 80 y 90 la Agrupación alcanza un máximo de algo más de 160 chicos y unos 22 dirigentes para
                todas las Secciones. La Municipalidad de Vicente López declara a los Scouts Navales de Olivos de interés
                municipal y con motivo del 50 aniversario descubre una placa, que aún hoy está en el Hut.
                <br><br> La náutica ocupa desde el inicio un carácter central en las actividades Scout. Las primeras embarcaciones
                propias fueron el Kayak Impeesa y el velerito Delfín. Luego siguieron el velero Pampero, Kayaks, optimists,
                canoas, barcos de amigos, entre otros. Actualmente navegamos en veleros donados y luego restaurados por nosotros
                mismos.
            </p>
        </div>
    </section>
</div>