--- 
layout: layout-default 
active: manada 
---


<section class="manada-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">Ramas y Programas</span>
    </div>
</section>
<div class="main-container">

    <section class="manada-primera-seccion">
        {% include menuramas.html %}
        <h1>Manda Cotal-Hue 7 a 11 años</h1>
        <div class="manada-primera-seccion__parrafos">
            {{content}}
        </div>
    </section>

    <section class="manada-segunda-Seccion__galeria">

        <img src="{{site.baseurl}}/assets/images/galerias/manada/1-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/2-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/3-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/4-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/5-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/6-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/7-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/8-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/9-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/10-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/manada/11-min.jpg">


    </section>

</div>