--- 
layout: layout-default 
active: unidad 
---


<section class="unidad-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">Ramas y Programas</span>
    </div>
</section>
<div class="main-container">

    <section class="rama-primera-seccion">
        {% include menuramas.html %}
        <h1>Unidad Gilwell - 11 a 14 años</h1>
        <div class="rama-primera-seccion__parrafos">
            {{content}}
        </div>
    </section>

    <section class="unidad-segunda-Seccion__galeria">
 
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/1-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/2-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/3-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/4-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/5-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/6-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/7-min.jpg">
        <img src="{{site.baseurl}}/assets/images/galerias/unidad/8-min.jpg">


    </section>

</div>