--- 
layout: layout-default 
---

<!-- Este es el layout para la pagina principal -->

<!-- seccion "hero" con imagen grande -->
<section class="default-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">DESCUBRÍ</span>
        <span class="default-hero-section__titles__large-titles"> ALGO NUEVO</span>
        <a class="button default-hero-section__titles__large-titles__conocenos" href="#primera-seccion-home"> Conocenos</a>
    </div>
</section>

<!-- contenido de la pagina -->
<div class="main-container">
    <!-- aca va la primera seccion, esta dividida en dos, la seccion
    superior que contiene las ramas y las noticias y la seccion inferior que contiene
    los links diversas secciones de la pagina -->
    <section class="primera-Seccion" id="primera-seccion-home">
        <!-- seccion superior -->
        <div class="primera-Seccion__superior row around-md">
            <!-- ramas -->
            <div class="primera-Seccion__superior__ramas col-xs-12 col-lg-8">
                <h1> Ramas y programas</h1>
                <div class="primera-Seccion__ramas__listaderamas row between-lg">
                    <div class="  col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--manada">

                            <img src="{{site.baseurl}}/assets/images/manada.png"> Manada
                        </div>
                    </div>
                    <div class=" col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--unidad">
                            <img src="{{site.baseurl}}/assets/images/unidad.png"> Unidad
                        </div>
                    </div>
                    <div class=" col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--caminantes">
                            <img src="{{site.baseurl}}/assets/images/caminantes.png"> Caminantes
                        </div>

                    </div>
                    <div class=" col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--rovers ">
                            <img src="{{site.baseurl}}/assets/images/rovers.png"> Rovers
                        </div>

                    </div>
                </div>
            </div>
            <!-- noticias -->
            <div class="primera-Seccion__superior__noticias col-xs-12 col-lg-3">
                <h1>Novedades</h1>
                <ul>
                    {% for noticia in site.data.noticias limit:2 %}
                    <li class="primera-Seccion__superior__noticias__noticia">
                        <span>{{noticia.fecha}} </span>
                        <span>
                            {{noticia.noticia}} 
                            {% if noticia.link != null %} 
                            <a href="{{noticia.link}}">{{noticia.nombre-de-link}}</a>
                            {% endif %}
                         </span>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- seccion inferior -->
        <div class="primera-Seccion__inferior row around-md center-xs">
            <div class=" col-md-4 col-sm-6 col-xs-12">
                <div class="primera-Seccion__inferior__porque-Unirse">
                    <h1> Por qué </br> unirse?</h1>
                </div>

            </div>
            <div class=" col-md-4 col-sm-6 col-xs-12">
                <div class="primera-Seccion__inferior__conoce-a-los-diris">
                    <h1> Conocé a </br> los dirigentes </h1>
                </div>

            </div>
            <div class=" col-md-4 col-sm-6 col-xs-12">
                <div class="primera-Seccion__inferior__metodo-scout">
                    <h1> Método </br> scout</h1>
                </div>

            </div>
        </div>


    </section>

    <!-- aca va la segunda seccion -->

    <section class="segunda-Seccion" id="segunda-seccion-home">
        <div class="segunda-Seccion__titulo-y-logo">
            <img class="segunda-Seccion__titulo-y-logo__logo" src="{{site.baseurl}}/assets/images/faro.svg">
            <h1 class="segunda-Seccion__titulo-y-logo__titulo">Nuestras Actividades</h1>
        </div>
        <div class="segunda-Seccion__contenido"></div>
        <div class="segunda-Seccion__galeria"></div>
    </section>
    {{content}}
</div>