--- 
layout: layout-default 
active: manada 
---


<section class="manada-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">Ramas y Programas</span>
    </div>
</section>
<div class="main-container">

    <section class="manada-primera-seccion">
        {% include menuramas.html %}
        <h1>Manda Cotal-Hue 7 a 11 años</h1>
        <div class="manada-primera-seccion__parrafos">
            <p>pios del movimiento.con el Scoutismo comienza el proceso de adquisición de hábitos y valores procuidar la naturaleza,
                y a trabajar y divertirse en grupo. En este primer contacto a los demás, Mejor”, los lobatos aprenden a compartir,
                a escuchar y respetarema “Siempre los chicos un gran sentimiento de pertenencia. Guiados por el lFormar parte
                de un grupo de pares con los mismos valores y objetivos les da a humano, y como tal, el único que no tiene
                en pelo en todo el cuerpo. llamó así porque es el único integrante de la Manada de Seoane que es Mowgli signiﬁca
                “rana” en el lenguaje de la se</p>
            <p>pios del movimiento.con el Scoutismo comienza el proceso de adquisición de hábitos y valores procuidar la naturaleza,
                y a trabajar y divertirse en grupo. En este primer contacto a los demás, Mejor”, los lobatos aprenden a compartir,
                a escuchar y respetarema “Siempre los chicos un gran sentimiento de pertenencia. Guiados por el lFormar parte
                de un grupo de pares con los mismos valores y objetivos les da a humano, y como tal, el único que no tiene
                en pelo en todo el cuerpo. llamó así porque es el único integrante de la Manada de Seoane que es Mowgli signiﬁca
                “rana” en el lenguaje de la selva. Raksha, </p>
        </div>
    </section>

    <section class="manada-segunda-Seccion__galeria">

        <img src="{{site.baseurl}}/assets/images/galeriamanada/1.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/2.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/3.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/4.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/5.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/6.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/7.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/8.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/9.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/10.jpeg">
        <img src="{{site.baseurl}}/assets/images/galeriamanada/11.jpeg">


    </section>

</div>