<!doctype html>
<!-- 
  Layout basico, tiene los headers minimos necesarios para el funcionamiento
  del sitio, este layout se usa a lo largo de todas las paginas.

  Ademas tiene el header y footer
-->
<html lang="en">

<head>
  <!-- metadata -->
  <meta charset="utf-8">
  <title>SNO</title>
  <meta name="description" content="Scouts navales de Olivos">
  <meta name="author" content="Joaquin Brandan: joaquincoding@gmail.com, Lisa Pini: Lispini2@gmail ">
  
  <!-- normalizador de CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" crossorigin="anonymous">
  
  <!-- otros recursos de CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <!-- mi hoja de estilos -->
  <link rel="stylesheet" href="{{site.baseurl}}/sass/styles.css?v={{site.time}}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

{% include header.html  %}

<body>
  <script src="{{site.baseurl}}/js/scripts.js"></script>

  {{content}}
</body>

{% include footer.html %}

</html>