--- 
layout: layout-default 
active: caminantes 
---


<section class="caminantes-hero-section">
    <div class="default-hero-section__titles">
        <span class="default-hero-section__titles__large-titles">Ramas y Programas</span>
    </div>
</section>
<div class="main-container">

    <section class="rama-primera-seccion">
        {% include menuramas.html %}
        <h1>Caminantes Columba - 14 a 17 años</h1>
        <div class="rama-primera-seccion__parrafos">
            {{content}}
        </div>
    </section>

    <section class="caminantes-segunda-Seccion__galeria">
        {% for image in site.static_files %} {% if image.path contains 'assets/images/galerias/caminantes' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" /> {% endif %} {% endfor %}


    </section>

</div>