--- 
layout: layout-default 
---

<!-- Este es el layout para la pagina principal -->

<section class="default-hero-section">
    <div class="default-hero-section__titles">
        <span>DESCUBRÍ</span>
        <span> ALGO NUEVO</span>
        <a class="button" href="#primera-seccion-home"> Conocenos</a>
    </div>
</section>
<div class="main-container">
    <section class="primera-Seccion" id="primera-seccion-home">
        <div class="primera-Seccion__superior row around-md">
            <div class="primera-Seccion__superior__ramas col-xs-12 col-lg-8">
                <h1> Ramas y programas</h1>
                <div class="primera-Seccion__ramas__listaderamas row between-lg" >
                    <div class="  col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--manada">

                            <img src="../assets/images/manada.png"> Manada
                        </div>
                    </div>
                    <div class=" col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--unidad">
                            <img src="../assets/images/unidad.png"> Unidad
                        </div>
                    </div>
                    <div class=" col-lg-3 col-xs-6">
                      <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--caminantes">
                        <img src="../assets/images/caminantes.png"> Caminantes
                      </div>
                        
                    </div>
                    <div class=" col-lg-3 col-xs-6">
                        <div class="primera-Seccion__ramas__listaderamas__botonderama primera-Seccion__ramas__listaderamas__botonderama--rovers ">
                             <img src="../assets/images/rovers.png"> Rovers
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="primera-Seccion__superior__noticias col-xs-12 col-lg-3">
                <h1>Novedades</h1>
                <ul>
                    {% for noticia in site.data.noticias limit:2 %}
                    <li class="primera-Seccion__superior__noticias__noticia">
                        <span>{{noticia.fecha}} </span>
                        <span>
                            {{noticia.noticia}} 
                            {% if noticia.link != null %} 
                            <a href="{{noticia.link}}">{{noticia.nombre-de-link}}</a>
                            {% endif %}
                         </span>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="primera-Seccion__links">
            links!
        </div>
    </section>
    {{content}}
</div>